// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.hanzi-animation {
  text-align: center;
}

.hanzi-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hanzi-steps {
  text-align: center;
}

.hanzi-step {
  margin: 3px;
}

line.rice-grid-border {
  stroke: #dddddd;
  stroke-width: 3px;
}

line.rice-grid-guide {
  stroke: #eeeeee;
  stroke-width: 2px;
}
